[submodule "external/poco"]
	path = external/poco
	url = https://github.com/pocoproject/poco.git
	branch = poco-1.10.2
[submodule "external/aws-c-common"]
	path = external/aws-c-common
	url = https://github.com/awslabs/aws-c-common.git
[submodule "external/aws-checksums"]
	path = external/aws-checksums
	url = https://github.com/awslabs/aws-checksums.git
[submodule "external/aws-c-event-stream"]
	path = external/aws-c-event-stream
	url = https://github.com/awslabs/aws-c-event-stream.git
[submodule "external/aws-c-io"]
	path = external/aws-c-io
	url = https://github.com/awslabs/aws-c-io.git
[submodule "external/aws-lc"]
	path = external/aws-lc
	url = https://github.com/awslabs/aws-lc.git
[submodule "external/s2n-tls"]
	path = external/s2n-tls
	url = https://github.com/aws/s2n-tls.git
[submodule "external/aws-c-cal"]
	path = external/aws-c-cal
	url = https://github.com/awslabs/aws-c-cal.git
