opt/*
.idea/*
build/*
client/dikeclient/dependency-reduced-pom.xml
client/dikeclient/target/*
server/dikeHDFS
dikeHDFS/build/*
client/ndp-hdfs/target/
client/ndp-hdfs-client/target/
data/*
volume/*
dikeHDFS/test/*

